<div class="header bg-main pb-8 pt-5 pt-md-8">

</div>
<div class="container-fluid mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4>CARDS PURCHASED HISTORY</h4>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4>REDEEMED CARD HISTORY </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
