/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-main{
  background-color: #013135;
  margin-bottom: 10px;
}

.button-fill {
  border-radius: 20px;
  background-color: #e7f5f4 !important;
  color: #013135 !important;
}
